apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
  namespace: pinn-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      containers:
      - name: clickhouse
        image: clickhouse/clickhouse-server:latest
        ports:
        - containerPort: 9000
        env:
        - name: CLICKHOUSE_USER
          value: "user"
        - name: CLICKHOUSE_PASSWORD
          value: "123"
        - name: CLICKHOUSE_DB
          value: "db"
        volumeMounts:
        - name: clickhouse-storage
          mountPath: /var/lib/clickhouse
      volumes:
      - name: clickhouse-storage
        persistentVolumeClaim:
          claimName: clickhouse-pvc