apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
  namespace: pinn-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      containers:
      - name: clickhouse
        image: clickhouse/clickhouse-server:latest
        ports:
        - containerPort: 9000
          name: native
        - containerPort: 8123
          name: http
        env:
        - name: CLICKHOUSE_USER
          value: "user"
        - name: CLICKHOUSE_PASSWORD
          value: "123"
        - name: CLICKHOUSE_DB
          value: "db"
        - name: CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT
          value: "1"
        volumeMounts:
        - name: clickhouse-storage
          mountPath: /var/lib/clickhouse
        - name: clickhouse-config
          mountPath: /etc/clickhouse-server/config.d/custom-config.xml
          subPath: custom-config.xml
        - name: clickhouse-init
          mountPath: /docker-entrypoint-initdb.d/init-db.sql
          subPath: init-db.sql
        readinessProbe:
          httpGet:
            path: /ping
            port: 8123
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /ping
            port: 8123
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: clickhouse-storage
        persistentVolumeClaim:
          claimName: clickhouse-pvc
      - name: clickhouse-config
        configMap:
          name: clickhouse-init
      - name: clickhouse-init
        configMap:
          name: clickhouse-init