apiVersion: v1
kind: Service
metadata:
  name: clickhouse-service
  namespace: pinn-app
spec:
  selector:
    app: clickhouse
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 9000
      nodePort: 10000