apiVersion: v1
kind: Service
metadata:
  name: clickhouse-service
  namespace: pinn-app
spec:
  selector:
    app: clickhouse
  ports:
    - name: native
      protocol: TCP
      port: 9000
      targetPort: 9000
    - name: http
      protocol: TCP
      port: 8123
      targetPort: 8123
  type: ClusterIP