apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: pinn-app
spec:
  type: NodePort
  selector:
    app: web-service
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30001